/* * {
    border: 1px solid red;
} */
html{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    overflow-x: hidden;
}
 /* NAV CSS  */
#logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(83, 8, 53, 1);
}
#logo-and-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo-and-text h2{
    font-family: "gambado-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 250%;
    margin:auto 0;
}
#logo-nav img{
    max-width: 90px;
    padding: 1em 2em;
    filter: brightness(100);
}
nav {
    text-transform: lowercase;
    font-size: 140%;
    align-items: center;
    padding: 0 2em 0 0;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

nav a:link, nav a:visited {
    color: aliceblue;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

nav a:hover, nav a:focus{
    text-decoration: underline;
    text-shadow: 0 3px 9px rgb(255, 85, 201);
}

nav a {
    text-shadow: 0 0 3px rgb(130, 15, 103);
    font-size: 28px;
}

/* HEADER CSS */
header{
    margin-top: 0;
    padding-top: 0;
}
.header-container{
    position: relative;
}
.vert-images-cover-page{
    height: 750px;
    position: relative;
    overflow: hidden;
}
.vert-image-grid{
    height: 100%;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.vert-image-grid img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.ripped-paper-top-img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    transform: translateX(-50%);
    top: 390px;
    left: 50%;

}
.ripped-paper-top-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:fill;
    /* transform: scale(-1, -1); */
}
.vert-grid-text-overlay{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    margin: auto;
    z-index: 1;
    font-size: 500%;
    text-shadow: 3px 3px 5px rgba(245, 245, 245, 0.303);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}
.vert-grid-text-overlay h1{
    font-family: "gambado-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(83, 8, 53);
}
/* took this overlay code from online */
.vert-image-grid div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 200, 220, 0.132); /* soft pink */
    z-index: 1;
    pointer-events: none;
}

/* MAIN CSS */
main{
    padding-top: 150px; 
    position: relative;
    /* color filter */
    background-color: #1b0530;
    background-blend-mode: screen;
    background-image: url(../images/paper-wrinkled1.jpeg);
    background-repeat: none;
    padding-bottom: 10px;   
}
.star-dividers{
    font-size: 150%;
    text-align: center;
    color: #8861765f;
    letter-spacing: 2rem;
    width: 100%;
}
.project-explanation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.project-explanation-text p {
    max-width: 80ch;
}
#about-the-project-h2{
    font-size: 400%;
    max-width: 10ch;
    text-align: center;
    color: rgb(83, 8, 53);
}
/* COUNTDOWN CSS */
#reverse-countdown{
    margin-top: 40px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 150%;
}
#countdown-h2{
    font-size: 170%;
    color: rgb(83, 8, 53);
}
#displaytimer{
    font-style: italic;
}
/* WHAT HAS HAPPENED SINCE SECTION */
.what-has-happened-since{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2em;
    padding-top: 2em;
}
.what-has-happened-since p {
    max-width: 150ch;
    line-height: 25px;
}
.what-has-happened-photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.what-has-happened-photos img{
    border: 10px solid rgba(83, 8, 53, 0.728);
    width: 230px;
    height: 230px;
    object-fit: cover;
}
/* took this overlay code from online */
.what-has-happened-photos div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 200, 220, 0.05); /* soft pink */
    z-index: 1;
    pointer-events: none;
}

/* RETURN TO TOP BUTTON CSS */
.return-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    left: 28px;
    bottom: 45px;
    z-index: 9999; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    transition: all ease-in-out 300ms;
}
 .return-to-top img {
     max-width: 50px;
}
 .return-to-top:hover {
    background-color: rgba(215, 61, 159, 0.328);
}

/* FOOTER CSS */
footer{
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    background-color: #1b0530;
    background-blend-mode: screen;
    background-image: url(../images/paper-wrinkled1.jpeg);
    background-repeat: none;
    width: 100%;
}
#mobilemenu {
    display: none;
}

/* media queries */
@media (max-width: 767px) {
    /* NAV MENU */
    nav {
        text-transform: lowercase;
        font-size: 80%;
        align-items: center;
        padding: 0;
    }
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: rgb(83, 8, 53);
        width: 90%;
        height: 100%;
        z-index: 9999;
        right: 0px; 
        top: 0px;
    }
    .slicknav_nav{
        width: 100%;
        background-color: rgb(83, 8, 53);
    }
    .slicknav_nav a {
        text-align: end;
        text-shadow: 3px 3px 8px rgba(215, 61, 159,.85);
    }
    #logo-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        max-height: 3000vh;
        background-color: rgba(83, 8, 53);
    }
    #logo-and-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #logo-and-text h2{
        font-size: 200%;
        max-width: 10ch;
        margin: .25em 0;
    }
    #logo-nav img{
        max-width: 50px;
        padding: 1em 1em;
        filter: brightness(100);
    }
    /* HEADER CSS */
    .vert-images-cover-page{
        height: 450px;
    }
    .ripped-paper-top-img{
        top: 280px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .vert-grid-text-overlay{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;
        margin: auto;
        z-index: 1;
        font-size: 500%;
        text-shadow: 3px 3px 5px rgba(245, 245, 245, 0.303);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80vh;
        width: 100%;
    }
    .vert-grid-text-overlay h1{
        padding-top: .3em;
        font-size: 110%;
        letter-spacing: .15rem;
        line-height: 1em;
    }
    /* STAR DIVIDES AWAY */
    .star-dividers{
        display: none;
    }
    /* COUNTDOWN CSS */
    #reverse-countdown{
        margin: 0 auto;
        text-align: center;
        max-width: 30ch;
        line-height: 50px;
        font-size: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: rgba(255, 255, 255, 0.482);
    }
    #countdown-h2{
        padding-bottom: 0;
        margin: .8em 1em;
        margin-bottom: .3em;
        font-size: 230%;
        max-width: 65ch;
    }
    #displaytimer{
        padding-top: 0;
        margin-top: 0;
        font-size: 200%;
        margin: 0 40px;
        margin-bottom: 1em;
    }
    /* MAIN CSS */
    main{
        padding-top: 150px; 
    }
    .project-explanation-container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .project-explanation-text p {
        max-width: 35ch;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
    }
    #about-the-project-h2{
        padding-top: 2em;
        padding-bottom: 0;
        font-size: 175%;
        max-width: 100ch;
        text-align: center;
        color: rgb(83, 8, 53);
        text-decoration: overline;
    }
    /* WHAT HAS HAPPENED SINCE SECTION */
    .what-has-happened-since{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .what-has-happened-since p {
        max-width: 35ch;
        text-align: center;
        margin: 0 auto;
        line-height: 25px;
    }
    .what-has-happened-photos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    /* RETURN TO TOP BUTTON CSS */
    .return-to-top {
        left: 18px;
        bottom: 35px;
    }
    .return-to-top img {
        max-width: 40px;
    }
    .return-to-top:hover {
        background-color: rgba(215, 61, 159, 0.328);
    }    
    /* FOOTER CSS */
    footer{
        padding-top: 0;
    }
}